<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Symfony Chat{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>

    <div class="container mt-4">
        <div class="row d-flex justify-content-center">
            <div class="col-auto">
                <a href="{{ path('app_home') }}" class="text-decoration-none text-dark">
                    <div class="card card-header">
                        <h1 class="text-center">Symfony Chat</h1>
                    </div>
                </a>
            </div>
        </div>
    </div>

    {% if app.user %}
        <div class="container mt-4">
            <div class="row d-flex justify-content-center">
                <div class="col-auto">
                    <div class="alert alert-success" role="alert">
                        <span>
                            Connecté en avec l'adresse email : <strong>{{ app.user.email }}</strong>
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-check-circle-fill text-success" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if app.user %}
        <div class="container mt-4">
            <div class="row d-flex justify-content-center">
                <div class="col-auto">
                    <a href="{{ path('app_profil') }}" class="btn btn-primary me-2">Profil</a>
                    <a href="{{ path('app_logout') }}" class="btn btn-danger">Déconnexion</a>
                </div>
            </div>
        </div>
    {% endif %}

    {% block body %}{% endblock %}
</body>
</html>
